.error {
	color: red;
}

html, body, div {
	padding: 0;
	margin: 0;
}

.view {
	border: solid black 1px;
}

.calendar-box {
	width: 95%;
	padding: 0 2.5%;
}

.calendar {
	height: 1200px;
	width: 100%;
}

.time-sep {
	width: 48px;
	display: inline-block;
	text-align: center;
}

.day-head {
	display: inline-block;
	width: calc(14.286% - 9px);
	text-align: center;
}

.day-head:nth-child(even) {
	background-color: gray;
}

.calendar-scroll {
	width: 100%;
	/*border: solid black 1px;*/
	height: 500px;
	overflow-y: scroll;
}

.calendar {
	/*border: solid black 1px;*/
	background-color: #eee;
}

.new-event {
	width: calc(14.286% - 9px);
	height: 50px;
	text-align: center;
	line-height: 45px;
	font-size: 26px;
	color: rgba(255,255,255,0);
}

.plus {
	vertical-align: middle;
}

.new-event:hover {
	background-color: rgba(74,186,255,0.5);
	color: rgba(16,136,255,0.6);
}