* {
	vertical-align: top;
}

.error {
	color: red;
}

html, body, div {
	padding: 0;
	margin: 0;
}

.view {
	border: solid black 1px;
}

/* CALENDAR */
/*  Variables
	minute_height = 60py
	time_bar_width = 70px
	scroll_bar_width = 15px
 */

 .nav {
 	display: inline;
 	font-size: 30px;
 }

h1 {
	display: inline;
}

h2 {
	text-align: center;
}

.calendar-box {
	width: 95%;
	padding: 0 2.5%;
}

#calendar-scroll {
	width: 100%;
	/*border: solid black 1px;*/
	height: 500px;
	overflow-y: scroll;
}

.calendar {
	/*border: solid black 1px;*/
	background-color: #eee;
	height: 1440px; /* minute_height * 24 */
	width: 100%;
}

.time-sep {
	width: 65px; /* time_bar_width */
	display: inline-block;
	text-align: center;
}

.time-bar {
	display: inline-block;
	height: 1440px; /* minute_height * 24 */
	background-color: #ddd;
	width: 64px; /* time_bar_width - border - padding */
	border-right: solid #bbb 1px;
	padding-right: 5px;
}

.midnight {
	height: 30px; /* minute_height / 2 */
	/*background-color: purple;*/
}

.hour {
	height: 60px; /* minute_height */
	/*background-color: orange;*/
	text-align: right;
	line-height: 60px; /* minute_height */
	width: 100%;
	font-size: 90%;
}

.day-head {
	/*background-color: red;*/
	display: inline-block;
	width: calc(14.286% - 10px); /* 100%/7 - (scroll_bar_width + time_bar_width)/7 eyeballed */
	text-align: center;
	/*background-color: pink;*/
}
/*
.day-head:nth-child(even) {
	background-color: blue;
}
*/
.today {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	background-color: green;
	color: white;
	font-weight: bold;
}

.weekday {
	width: 50%;
	text-align: left;
	display: inline-block;
}

.date {
	width: 30%;
	text-align: right;
	display: inline-block;
}

.day {
	width: calc(14.286% - 11px); /* 100%/7 - time_bar_width/7 - border */
	height: 100%;
	display: inline-block;
	border-right: solid #bbb 1px;
	/*position: relative;*/
	/*background-color: red;*/
}

.day:nth-child(odd) {
	/*background-color: yellow;*/
}

.event {
	width: 100%;
	/*width: calc(14% - 11px);*/
	 /* 100%/7 - time_bar_width/7 - border */
	/*height: 300px;
	background-color: yellow;*/
	position: relative;
}

.plus {
	/*width: calc(14.286% - 11px);  100%/7 - time_bar_width/7 - border */
	width: 100%;
	height: 60px; /* minute_height */
	text-align: center;
	line-height: 57px; /* minute_height - 5px */
	font-size: 26px;  /* whatever looks nice */
	color: rgba(255,255,255,0);
	position: relative;
	/*left: 70px;  time_bar_width */
}

.plus:hover {
	background-color: rgba(74,186,255,0.5);
	color: rgba(16,136,255,0.6);
}

#new-event {
	/*display: inline-block;*/
	border: solid black 3px; /*  */
	/*width: 200px; /*  */
	height: 200px; /*  */
	position: absolute;
	background-color: white;
	left: calc(50% - 103px);   
	top: 250px;
	padding: 0 10px;
	border-radius: 10px;
}