<center>
	<button class="nav" ng-click="nav(-7)">&lt;</button>
	<h1>{{days[0].head | date : "MMMM yyyy"}}</h1>
	<button class="nav" ng-click="nav(7)">&gt;</button>
</center>
<div class="calendar-box">
	<div class="time-sep">Time
	</div><div class="day-head">{{days[0].head | date : "EEE d"}}
	</div><div class="day-head">{{days[1].head | date : "EEE d"}}
	</div><div class="day-head">{{days[2].head | date : "EEE d"}}
	</div><div class="day-head">{{days[3].head | date : "EEE d"}}
	</div><div class="day-head">{{days[4].head | date : "EEE d"}}
	</div><div class="day-head">{{days[5].head | date : "EEE d"}}
	</div><div class="day-head">{{days[6].head | date : "EEE d"}}
	</div>
	<div id="calendar-scroll">
		<div class="calendar">
			<div class="time-bar">
				<div class="midnight"></div>
				<div class="hour" ng-repeat="hour in hours | limitTo : 23 : 1">{{hour | date : "h:mm a"}}</div>
			</div><div class="day" ng-repeat="day in days">
				<div class="plus" ng-repeat="hour in day.hours" ng-click="new(hour,hour)">+</div>
			</div>
		</div>
	</div>
</div>
<!-- <center> -->
<div id="new-event">
	<h2>New Event</h2>
	<table>
		<tr>
			<td>Event Title:</td>
			<td><input type="text" ng-model="new_event.title"></td>
		</tr>
		<tr>
			<td>Start:</td>
			<td>
				<input type="time" ng-model="new_event.timeS">
				<input type="date" ng-model="new_event.dateS">
			</td>
		</tr>
		<tr>
			<td>End:</td>
			<td>
				<input type="time" ng-model="new_event.timeE">
				<input type="date" ng-model="new_event.dateE">
			</td>
		</tr>
		<tr>
			<td>Color:</td>
			<td>
				<input type="color" ng-model="new_event.color">
			</td>
		</tr>
	</table>
	<button ng-click='create()'>Create</button>
	<button ng-click='cancel()'>Cancel</button>
</div>
<!-- </center> -->
<button ng-click='print()'>Show All</button>