<a href="/">Today</a>
<center>
	<button class="nav" ng-click="nav(-7)">&laquo;</button>
	<button class="nav" ng-click="nav(-1)">&lsaquo;</button>
	<h1 ng-if="!xMonth()">{{days[0].head | date : "MMMM yyyy"}}</h1>
	<h1 ng-if="xMonth()">{{days[0].head | date : "MMM"}}/{{days[6].head | date : "MMM yyyy"}}</h1>
	<button class="nav" ng-click="nav(1)">&rsaquo;</button>
	<button class="nav" ng-click="nav(7)">&raquo;</button>
</center>
<div class="calendar-box">
	<div class="time-sep">Time</div>
	<div class="day-head" ng-repeat="day in days">
		<div ng-if="!isToday(day)">{{day.head | date : "EEE d"}}</div>
		<div ng-if="isToday(day)" class="today">{{day.head | date : "EEE d"}}</div>
	</div>
	<div id="calendar-scroll">
		<div class="calendar">
			<div class="time-bar">
				<div class="midnight"></div>
				<div class="hour" ng-repeat="hour in hours | limitTo : 23 : 1">{{hour | date : "h:mm a"}}</div>
			</div><div class="day" ng-repeat="day in days">
				<div class="plus" ng-repeat="hour in day.hours" ng-click="new(hour)">+</div>
			</div>
		</div>
	</div>
</div>
<!-- <center> -->
<div id="new-event">
	<h2>New Event</h2>
	<table>
		<tr>
			<td>Event Title:</td>
			<td><input type="text" ng-model="new_event.title"></td>
		</tr>
		<tr>
			<td>Start:</td>
			<td>
				<input type="time" ng-model="new_event.timeS">
				<input type="date" ng-model="new_event.dateS">
			</td>
		</tr>
		<tr>
			<td>End:</td>
			<td>
				<input type="time" ng-model="new_event.timeE">
				<input type="date" ng-model="new_event.dateE">
			</td>
		</tr>
		<tr>
			<td>Color:</td>
			<td>
				<input type="color" ng-model="new_event.color">
			</td>
		</tr>
	</table>
	<button ng-click='create()'>Create</button>
	<button ng-click='cancel()'>Cancel</button>
</div>
<!-- </center> -->
<button ng-click='print()'>Show All</button>