<h1>{{days[0] | date : "MMMM yyyy"}}</h1>
<div class="calendar-box">
	<div class="time-sep">Time
	</div><div class="day-head">{{days[0] | date : "EEE d"}}
	</div><div class="day-head">{{days[1] | date : "EEE d"}}
	</div><div class="day-head">{{days[2] | date : "EEE d"}}
	</div><div class="day-head">{{days[3] | date : "EEE d"}}
	</div><div class="day-head">{{days[4] | date : "EEE d"}}
	</div><div class="day-head">{{days[5] | date : "EEE d"}}
	</div><div class="day-head">{{days[6] | date : "EEE d"}}
	</div>
	<div class="calendar-scroll">
		<div class="calendar">
			<div class="time-bar">
			</div><div class="day">
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
			</div><div class="day">
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>		
			</div><div class="day">
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
			</div><div class="day">
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
			</div><div class="day">
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>				
			</div><div class="day">
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>				
			</div><div class="day">
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>
				<div class="plus" ng-click="new()">+</div>				
			</div>
		</div>
	</div>
</div>
<!-- <center> -->
<div id="new-event">
	<h2>New Event</h2>
	<table>
		<tr>
			<td>Event Title:</td>
			<td><input type="text" ng-model="new_event.title"></td>
		</tr>
		<tr>
			<td>Start:</td>
			<td>
			<input type="time" ng-model="new_event.timeS">
			<input type="date" ng-model="new_event.dateS">
			</td>
		</tr>
		<tr>
			<td>End:</td>
			<td>
			<input type="time" ng-model="new_event.timeE">
			<input type="date" ng-model="new_event.dateE">
			</td>
		</tr>
	</table>
	<button ng-click='create()'>Create</button>
	<button ng-click='cancel()'>Cancel</button>
</div>
<!-- </center> -->
<button ng-click='print()'>Show All</button>
