<h1>Calendar</h1>
<div class="calendar-box">
	<div class="time-sep">Time</div><div class="day-head">Sunday</div><div class="day-head">Monday</div><div class="day-head">Tuesday</div><div class="day-head">Wednesday</div><div class="day-head">Thursday</div><div class="day-head">Friday</div><div class="day-head">Saturday</div>
	<div class="calendar-scroll">
		<div class="calendar" ng-bind-html="events">
			<div class="time-bar">
				<div class="midnight"></div>
				<div class="hour">1:00 AM</div>
				<div class="hour">2:00 AM</div>
				<div class="hour">3:00 AM</div>
				<div class="hour">4:00 AM</div>
				<div class="hour">5:00 AM</div>
				<div class="hour">6:00 AM</div>
				<div class="hour">7:00 AM</div>
				<div class="hour">8:00 AM</div>
				<div class="hour">9:00 AM</div>
				<div class="hour">10:00 AM</div>
				<div class="hour">11:00 AM</div>
				<div class="hour">12:00 PM</div>
				<div class="hour">1:00 PM</div>
				<div class="hour">2:00 PM</div>
				<div class="hour">3:00 PM</div>
				<div class="hour">4:00 PM</div>
				<div class="hour">5:00 PM</div>
				<div class="hour">6:00 PM</div>
				<div class="hour">7:00 PM</div>
				<div class="hour">8:00 PM</div>
				<div class="hour">9:00 PM</div>
				<div class="hour">10:00 PM</div>
				<div class="hour">11:00 PM</div>
			</div><div class="day">
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
			</div><div class="day">
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>				
			</div><div class="day">
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
			</div><div class="day">
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
			</div><div class="day">
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>				
			</div><div class="day">
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>				
			</div><div class="day">
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>
				<div class="new-event">+</div>				
			</div>

		</div>
	</div>
</div>

<table>
	<thead>
		<th>Field</th>
		<th>Actions</th>
	</thead>
	<tr ng-repeat='event in events'>
		<td>{{event.field}}</td>
		<td>
			<a href='#!/events/show/{{event._id}}'>Show</a>
			<a href='#!/events/edit/{{event._id}}'>Edit</a>
			<a href='#' ng-click='delete(event._id)'>Delete</a>
		</td>
	</tr>
</table>
<button ng-click='print()'>Show All</button>
