<h1>Calendar</h1>
<div class="calendar-box">
	<div class="time-sep">Time</div><div class="day-head">Sunday</div><div class="day-head">Monday</div><div class="day-head">Tuesday</div><div class="day-head">Wednesday</div><div class="day-head">Thursday</div><div class="day-head">Friday</div><div class="day-head">Saturday</div>
	<div class="calendar-scroll">
		<div class="calendar">
			{{events}}
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
			<div class="new-event">+</div>
		</div>
	</div>
</div>

<table>
	<thead>
		<th>Field</th>
		<th>Actions</th>
	</thead>
	<tr ng-repeat='event in events'>
		<td>{{event.field}}</td>
		<td>
			<a href='#!/events/show/{{event._id}}'>Show</a>
			<a href='#!/events/edit/{{event._id}}'>Edit</a>
			<a href='#' ng-click='delete(event._id)'>Delete</a>
		</td>
	</tr>
</table>
<button ng-click='print()'>Show All</button>
